name: artifacts

on:
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Upload JS file only from main
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: js-files
          path: |
            hate.js
            rate.js

  job2:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Debug - list files
        run: ls -l

      - name: Upload build folder
        uses: actions/upload-artifact@v4
        with:
          name: build-folder
          path: build/
