name: nginx
on:
  workflow_dispatch:
jobs:
  job1:
    runs-on: ubuntu-latest
    services:
      nginx:
        image: nginx:latest
        ports:
          - 80:80
    steps:
      - name: checking nginx
        run: curl -I http://localhost:80
