name: uses clone name
on:
  workflow_dispatch: 
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: therajsoni/Auction
          token: ${{secrets.GTIHUB_TOKEN}}
